@import "./car";
@import "./modalWindow";

* {
  margin: 0;
  padding: 0;
}

.main__garage {
  margin-top: 20px;
  margin-left: 20px;
}

.main__garage__info {
  display: flex;
  margin-top: 20px;
  font-size: 20px;
}

.main__garage__info__name {
  margin-right: 5px;
}

.main__garage__pagination {
  display: flex;
  align-items: center;
  margin: 15px 20px 20px 5px;
}

.pagination__page {
  margin-right: 10px;
  font-size: 20px;
}

.pagination__page-name {
  margin-right: 2px;
  margin-left: 10px;
  font-size: 20px;
}

.pagination__button-next,
.pagination__button-prev {
  border: none;
  border-radius: 20px;
  width: 50px;
  height: 25px;
  background-color: #b0b0b0;
  cursor: pointer;
}

.pagination__button-next:active,
.pagination__button-prev:active {
  background-color: #808080;
}

.control__button-container {
  margin-top: 10px;
}

.control__create,
.control__change {
  display: flex;
  align-items: center;
}

.control__change {
  margin-top: 10px;
}

.control__input-color,
.control__change__input-color {
  margin: 0 5px;
}

.control__create-button,
.control__change__change-button {
  border: none;
  border-radius: 20px;
  width: 70px;
  height: 30px;
  background-color: #d0def0;
  cursor: pointer;
}

.button-container__race,
.button-container__reset,
.button-container__generation {
  margin-right: 5px;
  border: none;
  border-radius: 20px;
  width: 70px;
  height: 30px;
  cursor: pointer;
}

.button-container__reset {
  background-color: rgb(255 36 36);
}

.button-container__reset:active {
  background-color: rgb(185 0 0);
}

.button-container__race {
  margin-right: 5px;
  width: 70px;
  background-color: rgb(142 229 138);
}

.button-container__race:active {
  background-color: rgb(91 182 86);
}

.active-control-button {
  color: #afafaf;
  background-color: #d6d6d6;
}

.active-control-button:active {
  color: #afafaf;
  background-color: #d6d6d6;
}

.button-container__generation {
  width: 100px;
  background-color: #d0def0;
}

.button-container__generation:active,
.control__create-button:active,
.control__change__change-button:active {
  background-color: #a4bbd7;
}
