.main__winners__info {
  display: flex;
}

// .result__header {
//   display: flex;
// }

// .result__header > * {
//   margin-left: 10px;
// }

// .result__main__car {
//   display: flex;
// }

// .result__main__car > * {
//   margin-left: 10px;
// }

.main__winners__container td,
.main__winners__container th {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  width: 100px;
  height: 30px;
  text-align: center;
}

.main__winners__pagination {
  display: flex;
}

.result__header__wins,
.result__header__time {
  cursor: pointer;
}

.result__header__time {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.result__header__wins__UP,
.result__header__time__UP {
  margin-left: 5px;
}

.table__UP-active {
  display: none;
}

.table__UP-rotate {
  transform: rotate(180deg);
}
