.main__winners__info {
  display: flex;
}

// .result__header {
//   display: flex;
// }

// .result__header > * {
//   margin-left: 10px;
// }

// .result__main__car {
//   display: flex;
// }

// .result__main__car > * {
//   margin-left: 10px;
// }

.main__winners__container td,
.main__winners__container th {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  width: 100px;
  text-align: center;
}

.main__winners__pagination {
  display: flex;
}
